<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205042334936-3ddg5c7d76negb1idlqm1ofcf416bo88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205042334936-3ddg5c7d76negb1idlqm1ofcf416bo88</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>205042334936-23oen9nnok5bmdo128n899suv43iqrm8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDVHXs8jC3xleNaKlMErnnabiasNZBGMs</string>
	<key>GCM_SENDER_ID</key>
	<string>205042334936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qixerios.app</string>
	<key>PROJECT_ID</key>
	<string>qixer-20a27</string>
	<key>STORAGE_BUCKET</key>
	<string>qixer-20a27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205042334936:ios:bbf393df2496de184b2bad</string>
</dict>
</plist>